@charset "utf-8";

/* ===================================================================
 * # Variable
 * ------------------------------------------------------------------- */

 :root {
   /* Color */
   --base-color: #FFF;
   --theme-color: #2a8cd8;
   --sub-color: #cef0ff;
   --text-color: #000;

   /* Fontsize */
   --fontsize-lvh1: calc(100vw * 36 / 375);
   --fontsize-lvh2: calc(100vw * 24 / 375);
   --fontsize-text-large: calc(100vw * 18 / 375);
   --fontsize-text-middle: calc(100vw * 14 / 375);
   --fontsize-text-small: calc(100vw * 12 / 375);

   /* Boxshadow */
   --boxshadow: 0px 0px 1em 0.1em #91b9d8;

   /* Transrofm */
   --transition: all 0.3s ease 0s;

   /*Layout*/
   --l-content-padding: 3em calc(100vw * 12 / 375);
 }

 @media only screen and (min-width: 769px) {
  :root {
    /* Fontsize */
    --fontsize-lvh1: 5rem;
    --fontsize-lvh2: 3.6rem;
    --fontsize-text-large: 2.4rem;
    --fontsize-text-middle: 1.6rem;
    --fontsize-text-small: 1.4rem;

    /*Boxshadow*/
    --boxshadow: 0px 0px 1em 0.3em #91b9d8;
  }

 }

 /* -------------------------------------------------------------------
 * ## base style overrides
 * ------------------------------------------------------------------- */

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--base-color);
  font-family: 'Jost','Roboto', 'M PLUS 1 Code', 'Noto Sans JP', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

a {
  transition: var(--transition);
}

a:hover {
  opacity: .8;
}

.bg-img::before {
-webkit-backface-visibility: hidden;
  display: block;
  visibility: visible;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  transform: translateZ(0);
  backface-visibility: hidden;
  background-image: url(../images/part2/bg_sp.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  perspective: 0;
  pointer-events: none;
}

@media only screen and (min-width: 769px) {
  .bg-img::before {
    background-image: url(../images/part2/bg_pc.png);
  }
}

/* -------------------------------------------------------------------
 * ## Layout
 * ------------------------------------------------------------------- */

 .l-sicebar {
  display: none;
 }

 @media only screen and (min-width: 769px) {
  .l-sicebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 190px;
    height: 100%;
    background-color: #fff;
    box-shadow: var(--boxshadow);
  }

  .l-main,
  .l-footer {
    margin-left: 190px;
  }
 }

 .l-main-content {
   width: 100%;
   padding: calc(100vw * 40 / 375) calc(100vw * 10 / 375);
 }

@media only screen and (min-width: 769px) {

  .l-main-content {
    max-width: calc(100vw * 1160 / 1366);
    margin: 0 auto;
    padding: calc(100vw * 72 / 1366) 0;
  }
}

/* -------------------------------------------------------------------
 * ## Components
 * ------------------------------------------------------------------- */

 /* Section Title -----------*/

.c-headline {
  margin: 1.6em auto 0.6em;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--fontsize-lvh1);
  letter-spacing: 0.08em;
}

.c-headline::after {
  content:"";
  display: block;
  width: 2.9em;
  height: 0.14em;
  margin: 0 auto;
  background: url(../images/part2/border_wave.svg) no-repeat;
}

@media only screen and (min-width: 769px) {
  .c-headline {
    margin: 2.5em auto 1em;
  }
}

.c-contents-title {
  margin-bottom: 2.4em;
  font-size: var(--fontsize-text-small);
  font-weight: bold;
  text-align: center;
  color: var(--theme-color);
 }

 .c-contents-title span {
  padding: 0.1em 2.6em;
  background: var(--sub-color);
 }

 /* text -----------*/

 .c-text {
  line-height: 2.4;
  font-size: var(--fontsize-text-middle);
  color: var(--text-color);
 }

  .c-text+.c-text {
    margin-top: 1em;
  }

  .is-underline {
    border-bottom: 2px dashed var(--theme-color);

  }

  /* Button -----------*/

  .c-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0.2em;
    text-align: center;
    background: var(--text-color);
    color: #FFF;
    font-size: var(--fontsize-text-small);
    font-weight: bold;
    border-radius: 0.6em;
    transition: var(--transition);
  }

/* -------------------------------------------------------------------
 * ## loding animation
 * ------------------------------------------------------------------- */

 .loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--base-color);
  height: 100vh;
  width: 100%;
  text-align: center;
  z-index: 1000;
 }
 .loader {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
 }
 .spinner {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}
.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: var(--theme-color);
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* -------------------------------------------------------------------
 * ## Header
 * ------------------------------------------------------------------- */

  /* SP Nav ----------- */
.l-header-nav-sp {
  width: 100vw;
  height: calc(100vw * 70 / 375);
  background: var(--text-invert-color);
}

.l-header-sp-logo {
  width: calc(100vw * 124 / 375);
  height: calc(100vw * 70 / 375);
  padding: calc(100vw * 16 / 375) calc(100vw * 12 / 375) calc(100vw * 12 / 375);
}

.l-header-sp-logo a {
  display: block;
}

@media only screen and (min-width: 769px) {
  .l-header-nav-sp {
    display: none;
  }
}

 /* drawer nav ----------- */
#humberger {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  width: calc(100vw * 55 / 375);
  padding: calc(100vw * 23 / 375) calc(100vw * 10 / 375) calc(100vw * 15 / 375);
  cursor: pointer;
}
.icon-bar {
  height: calc(100vw * 3 / 375);
  background: var(--text-color);
  display: block;
  margin-bottom:calc(100vw * 8 / 375);
  -webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

#drawernav {
position: fixed;
top: 0;
right: -100%;
width: 100%;
height: 100%;
background: #222;
color: #fff;
z-index: 150;
padding-top: calc(100vw * 40 / 375);
-webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
   -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
        transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}
.drawernav-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
}
.drawernav-content ul {
  list-style: none;
  margin: 0;
}
.drawernav-item a {
  display: block;
  margin-bottom: calc(100vw * 8 / 375);
  padding: calc(100vw * 2 / 375) 0;
  color: #fff;
  font-size: calc(100vw * 32 / 375);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.drawernav-content .select-lang {
  margin-top: calc(100vw * 32 / 375);
}

@media screen and (max-width:768px) {

  #humberger {
    display: block;
  }

/* drower menu ----------- */

    body.drawer-opened #page{
        left: -240px;
        box-shadow: 1px 0 2px #000;
        -webkit-box-shadow: 1px 0 2px #000;
    }
    body.drawer-opened .fixed-content{
        left: -240px;
    }
    body.drawer-opened #drawernav{
        right: 0;
    }
    body.drawer-opened #humberger .icon-bar{
        background: #fff;
    }
    body.drawer-opened #humberger :nth-child(1){
        transform:translate(0, calc(100vw * 14 / 375)) rotate(45deg);
        -webkit-transform:translate(0, calc(100vw * 14 / 375)) rotate(45deg);
    }
    body.drawer-opened #humberger :nth-child(2){
        transform:translate(calc(100vw * -20 / 375) ,0);
        -webkit-transform:translate(calc(100vw * -20 / 375) ,0);
        opacity:0;
    }
    body.drawer-opened #humberger :nth-child(3){
        transform:translate(0, calc(100vw * -8 / 375)) rotate(-45deg);
        -webkit-transform:translate(0, calc(100vw * -8 / 375)) rotate(-45deg);
    }
    body.drawer-opened #overlay{
        z-index: 3;
        opacity: 0.3;
        left: -240px;
    }
}

.drawernav-content .select-lang {
  font-size: calc(100vw * 14 / 365);
  font-weight: bold;
  text-align: center;
}

.drawernav-content .select-lang a {
  color: #fff;
}

.drawernav-content .select-lang a:first-child {
  margin-right: calc(100vw * 20 / 365);
}

.drawernav-content .select-lang .is-selected {
  pointer-events: none;
}

/* PC nav ----------- */
.l-header-nav-pc {
  display: none;
}

@media only screen and (min-width: 769px) {
  .l-header-nav-pc {
    display: block;
  }
}

/* -------------------------------------------------------------------
 * ##  Side Menu
 * ------------------------------------------------------------------- */

 .l-aside {
  position: relative;
  height: 100%;
 }
 .l-aside-nav-pc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 73px);
  padding: 1em 2em;
 }

 .l-aside-logo {
  margin-bottom: 0.5em;
 }

 .c-aside-nav-item {
  margin-bottom: 1em;
  text-align: center;
  font-size: var(--fontsize-text-small);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.09em;
 }

 .c-aside-nav-item a{
  display: block;
  width: 100%;
  color: var(--text-color);
 }

 .c-aside-nav-item a::after {
  content: "";
  display: block;
  height: 2px;
  width: 32px;
  margin: 0 auto;
  transition: var(--transition);
 }

 .c-aside-nav-item a.link-current::after {
  background-color: var(--theme-color);
}

 .l-aside-share {
  position: absolute;
  bottom: 0;
  left: 0;
 }

 .l-aside-banner {
  margin-bottom: 0.6em;
 }

 .l-aside-banner-text {
  padding-bottom: 0.2em;
  font-size: 1.1rem;
  text-align: center;
  color: var(--text-color);
 }

 .l-aside-share {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 73px;
  background: var(--sub-color);
 }

 .l-aside-share-txt {
  font-weight: bold;
  font-size: var(--fontsize-text-small);
  color: var(--theme-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.09em;
 }

 .l-aside-share-icon-wrap {
  display: flex;
  justify-content: center;
 }

 .l-aside-share-icon-wrap a {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 0.8em;
 }

 /* -------------------------------------------------------------------
 * ## Main
 * ------------------------------------------------------------------- */

 .l-main-inner {
  width: 90%;
  margin: 0 auto;

 }
@media only screen and (min-width: 769px) {
  .l-main-inner {
    width: 80%;
  }
}

  /* -------------------------------------------------------------------
 * ## KV
 * ------------------------------------------------------------------- */

.l-kv {
  margin-top: 1.6em;
}

.l-kv img {
  box-shadow: var(--boxshadow);
}

@media only screen and (min-width: 769px) {
  .l-kv {
    max-width: 53.25em;
    margin: 3.2em auto 0;
  }
}

 @media only screen and (max-width: 768px) {
  .l-kv figure {
    margin: 0;
  }
}

/* -------------------------------------------------------------------
 * ## Introduction
 * ------------------------------------------------------------------- */

.swiper--wrapper {
  width: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  margin-bottom: 1.6em;
  text-align: center;
}

.js-swiper-ss2 {
  width: 100%;
}

.js-swiper-ss {
  box-sizing: border-box;
  padding: 10px 0;
}

.js-swiper-ss .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.4;
}

.js-swiper-ss .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
	width: 24px;
	height: 40px;
	background-size: 24px 40px;
	transform: translateY(-50%);
  margin-top: 0;
}

/* 次ページボタンのスタイル */
.swiper-button-next {
  background: url('../images/part2/icon_next.svg') no-repeat;
}

/* 前ページボタンのスタイル */
.swiper-button-prev {
	background: url('../images/part2/icon_prev.svg') no-repeat;
}

.swiper-button-prev:after,
.swiper-button-next:after {
 display: none;
}

/* -------------------------------------------------------------------
 * ## Characters
 * ------------------------------------------------------------------- */

.js-swiper-chara2 {
  width: 100%;
}

.js-swiper-chara {
  box-sizing: border-box;
  padding: 10px 0;
}

.js-swiper-chara .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.4;
}

.js-swiper-chara .swiper-slide-thumb-active {
  opacity: 1;
}

.l-chara-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-chara-item figure {
  margin: 0;
}

.l-chara-info {
  padding: 2.4em;
  background: #fff;
  box-shadow: var(--boxshadow);
  text-align: left;
}

.l-chara-info .c-text {
  line-height: 1.6;
}

.l-chara-name {
  margin-bottom: 0.5em;
  font-size: var(--fontsize-lvh2);
  font-weight: bold;
  border-bottom: 2px dashed var(--theme-color);
}

.l-chara-cv {
  margin-bottom: 1em;
}

.l-chara-cv-tag {
  width: 2em;
  height: 2em;
  padding: 0.4em;
  font-weight: bold;
  color: var(--theme-color);
  background: var(--sub-color);
  border-radius: 50%;
}

.l-chara-cv-name {
  font-size: var(--fontsize-text-middle);
  font-weight: bold;
  margin-left: 0.4em;
}

@media only screen and (min-width: 921px) {
  .l-chara-item img {
    max-width: 15.625em;
  }

  .l-chara-info {
    max-width: 18.875em;
  }
}

@media only screen and (min-width: 1120px) {
  .l-chara-info {
    max-width: 22.875em;
  }
}

@media only screen and (min-width: 1240px) {
  .l-chara-info  {
    max-width: 31.875em;
  }
}

@media only screen and (max-width: 920px) {
  .l-chara-item {
    flex-direction: column;
  }
  .l-chara-item img {
    width: 50%;
  }
  .l-chara-info {
    margin: 1em;
    padding: 1em;
  }

  .l-characters-swiper .swiper-button-prev,
  .l-characters-swiper .swiper-button-next {
    transform: translateY(-600%);
  }
}

.js-chara-ss {
  max-width: 50em;
}

.js-chara-ss .swiper-wrapper {
  flex-wrap: wrap;
  justify-content: center;
}

.js-chara-ss .swiper-slide {
  width: 120px!important;
  height: 120px!important;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--sub-color);
  overflow: hidden;
  transition: var(--transition);
}

.js-chara-ss .swiper-slide span {
  display: block;
  width: 120px;
  height: 120px;
  background-size: 270px;
}

.js-chara-ss .swiper-slide-thumb-active {
  background: var(--sub-color);
  border-color: var(--theme-color);
}

.chara1 {
  background: url(../images/part2/img_chara1.png) no-repeat;
  background-position: 50% 0;
}

.chara2 {
  background: url(../images/part2/img_chara2.png) no-repeat;
  background-position: 40% 5%;
}

.chara3 {
  background: url(../images/part2/img_chara3.png) no-repeat;
  background-position: 50% 1%;
}

.chara4 {
  background: url(../images/part2/img_chara4.png) no-repeat;
  background-position: 55% 3%;
}

.chara5 {
  background: url(../images/part2/img_chara5.png) no-repeat;
  background-position: 45% 0;
}

.chara6 {
  background: url(../images/part2/img_chara6.png) no-repeat;
  background-position: 76% 4%;
}

.chara7 {
  background: url(../images/part2/img_chara7.png) no-repeat;
  background-position: 50% 0;
}

.chara8 {
  background: url(../images/part2/img_chara8.png) no-repeat;
  background-position: 50% 0;
}

.chara9 {
  background: url(../images/part2/img_chara9.png) no-repeat;
  background-position: 45% 0;
}


  /* -------------------------------------------------------------------
 * ## Cast / Staff
 * ------------------------------------------------------------------- */

 .l-cast-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.4em;
 }

.l-cast-flex-item,
.l-staff-flex-item {
  width: 50%;
  margin-bottom: 0.6em;
}

 .c-staff-role {
  font-size: var(--fontsize-text-small);
 }

 .c-staff-name {
  font-size: var(--fontsize-text-large);
 }

 .l-staff-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
 }

 .l-staff-flex-item-100 {
  width: 100%;
  margin-bottom: 0.6em;
 }

 .l-staff-flex-item-50 {
  width: 50%;
  margin-bottom: 0.6em;
 }

 @media only screen and (min-width: 769px) {

  .l-cast-flex {
    max-width: 24.375em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5em;
  }
  .l-cast-flex-item {
    width: 50%;
  }
  .l-staff-flex-item {
    width: 25%;
  }
  .l-cast-flex-item,
  .l-staff-flex-item,
  .l-staff-flex-item-100,
  .l-staff-flex-item-50 {
    margin-bottom: 2em;
  }
 }

  /* -------------------------------------------------------------------
 * ## Streaming
 * ------------------------------------------------------------------- */

.l-streaming-list {
  display: flex;
  flex-wrap: wrap;
}

.l-streaming-list-item {
  width: 46%;
  margin: 0 0.5em 1.6em;
}

@media only screen and (min-width: 769px) {
  .l-streaming-list-item {
    width: 22%;
  }
}

  /* -------------------------------------------------------------------
 * ## Footer
 * ------------------------------------------------------------------- */

 .l-footer-share {
   width: 100%;
   text-align: center;
 }

 .l-footer-share a {
   padding: 0 20px;
 }

 .l-footer-logo {
   margin: 3em auto;
   max-width: 320px;
   padding: 10px;
   background: #fff;
 }
 .l-footer p {
   text-align: center;
 }

/* -------------------------------------------------------------------
 * ## Helpful
 * ------------------------------------------------------------------- */

/* Show ----------- */
.is-pc-show {
  display: none;
}

.is-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1.6em;
}
.mb-2 {
  margin-bottom: 2.6em;
}
.mb-3 {
  margin-bottom: 3.6em;
}

@media only screen and (min-width: 769px) {
  .is-sp-show {
    display: none;
  }
  .is-pc-show {
    display: block;
  }
}

